 

<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push"> 
       
        <mat-toolbar color="primary">
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>
                    close
                </mat-icon> 
            </button>
        </mat-toolbar>

        <mat-nav-list >
            <a *ngFor="let item of menu"
            mat-list-item  
            [routerLink]="item.route" 
            (click)="sidenav.toggle()"> {{item.text}}</a>
 
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>
                menu
            </mat-icon> 
        </button>

<span class="spacer"></span>

 

   
    </mat-toolbar>

<div class="container">
    <h1>RxJs Course </h1>
<hr>

    <router-outlet></router-outlet>
</div>

</mat-sidenav-container>


 
