 
  <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push"> 
       
        <mat-toolbar color="primary">
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>
                    close
                </mat-icon> 
            </button>
        </mat-toolbar>

        <mat-nav-list >
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Observables</span>
				<mat-icon mat-list-icon>search</mat-icon>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon> 
             </mat-list-item>


        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
            <a *ngFor="let item of menuObservables"
            mat-list-item  
            [routerLink]="item.route" 
            (click)="sidenav.toggle()"> {{item.text}}</a> 
        </div>
 
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>
                menu
            </mat-icon> 
        </button>

<span class="spacer"></span>

 

   
    </mat-toolbar>

<div class="container">
    <h1>RxJs Course </h1>
<hr>

    <router-outlet></router-outlet>
</div>

</mat-sidenav-container> 

 